body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

h1 {
    color: red;
    margin-bottom: -50px;
    z-index: 999;
}

img {
    width: 300px;
}